* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8fb4b4;
}

body, .card {
    background-color: var(--primary-color);
}

.currentDate {
    font-size: 1.5rem;
    font-weight: bold;
}

.card {
    border: none;
}

.daily-weather-text {
    color: white;
    font-size: 1.15vw;
}

.daily-date {
    font-size: 1rem!important;
}

.weather-display {
    display: flex;
    flex-direction: column;
}

.weather-container {
    text-align: center;
}

.forecast-section {
    text-align: center;
}
.forecast-cards {
    display: flex!important;
    flex-direction: row!important;
}

@media only screen and (min-width: 768px) {
    .forecast-section {
        margin: 3rem 3rem 2rem;
        width: 90%!important;
    }

    .daily-date {
        font-size: .8rem;
    }

    .forecast-cards {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 3vw;
    }
}

@media only screen and (max-width: 600px) {
    .forecast-section {
       margin: 2rem 1rem .5rem
    }

    .daily-date {
        font-size: 2.5vw;
        font-weight: bold;
    }
    
    .forecast-cards {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 2vw;
        width: 100%;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-text {
        font-size: 2.3vw;
    }
}