* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8fb4b4;
}

body, .card {
    background-color: var(--primary-color);
}

.currentDate {
    font-size: 1.5rem;
    font-weight: bold;
}

.card {
    border: none;
}

.daily-weather-text {
    color: white;
    font-size: 1.15vw;
}

.daily-date {
    font-size: 1rem!important;
}

.weather-display {
    display: flex!important;
    flex-direction: column!important;
    justify-content: center;
    align-items: center;
}

.weather-container {
    text-align: center;
}

.forecast-section {
    width: fit-content;
}

.forecast-section h3{
    background: rgba(255, 255, 255, 0.185);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    text-align: center;
    margin-top: 2rem;
}

.card-body {
    background: rgba(255, 255, 255, 0.185);
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.forecast-cards {
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between;
    gap: 2rem;
}


@media only screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }

    .daily-date {
        font-size: .5rem;
    }

    .card-body {
        height: 200px;
        width: 100px;
    }

    .card-text {
        font-size: 2.3vw;
    }

    .forecast-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 3vw;
    }
}

@media only screen and (max-width: 600px) {

    .daily-date {
        font-size: 2vw!important;
        font-weight: bold;
    }
    

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-text {
        font-size: 2.3vw;
    }
}